<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
      <title>HTML debugging examples</title>
      
  </head>
​
  <body>
      <h1>  HTML debugging examples</h1>
​
      <h2> What causes errors in HTML? </h2>
    <ul>
      <li>Unclosed elements:<p>If an element is <strong>not closed properly</strong>,
        then its effect can spread to areas you didn't intend</p>
​
      <li>Badly nested elements:<p> Nesting elements properly is also very important
          for code behaving correctly.</p><p> <strong> <em>
          What is this? </strong> </em></p>
​
      <li>Unclosed attributes: <p>Another common source of HTML problems. Let's
          look at an example:</p>
          <a href="https://example.com/">Link to example homepage</a></li>
    </ul>
    </body>
</html>             