<doctype! html>
<html lang="en">
    <head>
    <meta charset="utf-8">
          <title> The Newcastle Sandwich Shop </title>
    </head>

<h1> The Newcastle Sandwich Shop </h1>
    
<h2> About Us </h2>
        
<p class="intro" data-info="introduction"> <p> We’re a Newcastle based independent purveyor of hand made, home baked, breakfasts, brunches, lunches, and afternoon teas located in the heart of the city centre. All our products are locally & ethically sourced. The only secrets we keep are about how to make our cakes. We’re not telling any time soon… </p>

<h2> Menus </h2>
    
<h3> TOASTED PANINIS </h3>
    
<p> Hot, toasted, and made to order with crisps & side salad. Add coleslaw for 50p </p>

<p><li>Roast chicken breast & crispy bacon <strong>£6.95</strong></li>
    Holmbury cheddar & tracklements chilli jam</p>

<p><li>Roast chicken breast <strong>£6.95</strong></li>
    Italian mozzarella & homemade pesto</p>

<p><li>Roast chicken breast <strong>£6.95</strong></li>
    Holmbury cheddar, tracklements red pepper and tomato salsa & roast peppers</p>

<p><li>Italian mozzarella <strong>£6.45</strong></li>
    Sun blushed tomatoes & homemade pesto</p>
    
<p><li>Holmburry cheddar <strong>£6.45</strong></li>
    Tracklements red pepper and tomato salsa, roast peppers & jalapeño</p>

<p><li>Holmburry cheddar <strong>£5.95</strong></li>
    Mango chutney & red onion</p>
    
<p><li>Tuna mayo <strong>£5.95</strong></li>
    Holmbury cheddar & jalapeño chillies</p>
    
<p><li>Avocado & roast peppers <strong>£5.95</strong></li>
    With sun blushed tomatoes</p>
</ul>

<h3> SANDWICHES </h3>
    
<p> All sandwiches include mixed leaves, tomatoes, cucumber & mayo, and are served with crisps & homemade coleslaw. </p>
    
<h4> Meaty </h4>
    
<p><li>Pastrami, emmental & wholegrain mustard <strong>£6.75</strong></li>
    On toasted bagel</p>

<p><li>Pastrami, creamy brie & caramelised onion <strong>£6.75</strong></li>
    On ciabatta</p>

<p><li>Roast silverside beef, horseradish & gherkins <strong>£5.25</strong></li>
    On soft granary bloomer</p>

<p><li>Crispy bacon, lettuce & tomato <strong>£5.25</strong></li>
    On toasted granary bloomer</p>
</ul>

<h4> Fish </h4>

<p><li>Scottish smoked salmon, avocado & olives <strong>£6.95</strong></li>
    On brown baguette</p>

<p><li>Prawn marie rose & avocado <strong>£6.45</strong></li>
    On brown baguette</p>

<p><li>Scottish smoked salmon, avocado, rocket & lemon <strong>£6.45</strong></li>
    On soft granary bloomer</p>

<p><li>Tuna mayonnaise, egg & olive <strong>£6.25</strong></li>
    On toasted granary bloomer</p>
</ul>

<h4> Cheese </h4>

<p><li>Grilled Greek haloumi, sun blush tomatoes & roast peppers <strong>£6.95</strong></li>
    On ciabatta</p>

<p><li>Holmbury mature cheddar, salsa, roast peppers & jalapeños <strong>£6.25</strong></li>
    On ciabatta</p>

<p><li>West Country creamy brie, grapes & cranberry <strong>£5.45</strong></li>
    On brown baguette</p>

<p><li>West Country creamy brie & caramelised onion <strong>£5.25</strong></li>
    On ciabatta</p>

<h4> Vegetarian </h4>

<p><li>Homemade houmous, olives & sun blush tomatoes <strong>£6.45</strong></li>
    On brown baguette</p>

<p><li>Avocado, feta, tomato & oregano <strong>£6.25</strong></li>
    On toasted granary bloomer</p>

<p><li>Homemade houmous, falafel & roast peppersn <strong>£5.75</strong></li>
    Toasted tortilla wrap</p>

<p><li>Falafel & mango chutney <strong>£5.25</strong></li>
    Toasted tortilla wrap</p>

<h2> Our Sources </h2>

<p> We’re proud of how we do business, we take great pleasure in working with other independent enterprises, traditional sources, as well as ethically managed suppliers. From coffee to chutney, it all matters to us. </p>